<table>
    <thead>
        <tr>
            <td>Email</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Photo</td>
            <td>Company</td>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr style="{{company_highlight this/company}}">
            <td>{{this/email}}</td>
            <td>{{this/name}}</td>
            <td>{{#phone_number_bolder this/phone}}{{/phone_number_bolder}}</td>
            <td><a href="{{this/image-url}}" target="_blank"><img src="{{this/image-url}}" height="50"></a></td>
            <td>{{this/company}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>